body {
  margin: auto;
  font-family: 'Gloria Hallelujah', cursive;
}

#game-table {
  display: none;
  width: 50%;
}

#board {
  table-layout: fixed;
  font-size: 3em;
  text-align: center;
  background-color: #B2D1E0;
}

#board td {
  height: 155px;
  width: 78px;
  border: 8px black;
  vertical-align: middle;
  border: 3px solid black;
}

.cell-value:hover {
  background-color: #7BB0CA;
}

.x-cursor {
  cursor: url("../public/x-cursor.png") 25 25, pointer;
}

.o-cursor {
  cursor: url("../public/o-cursor.png") 25 25, pointer;
}

#game-table,
.result {
  margin: 0 auto;
  text-align: center;
}

.result {
  display: none;
}

.extra-bold {
  font-weight: 100;
}

#instructions-container {
  padding: 10px;
}

.play-options {
  margin: auto;
  margin-top: 50px;
}

.instructions-list li {
  margin-bottom: 13px;
}

.btn-start {
  color: #fff;
  background-color: #7BB0CA;
}

.btn-start:hover {
  background-color: #628CA1;
}

#pick-name {
  display: none;
}

.custom-input {
  text-align: center;
  margin: 20px auto;
  width: 50%;
}

.custom-input:focus {
  background-color: lightyellow;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder           { color:transparent; } 
input:focus::-moz-placeholder          { color:transparent; }
input:focus:-ms-input-placeholder      { color:transparent; } 


